<div data-section-id="{{ section.id }}" data-section-type="static-footer">

  {%- assign footerMessage = section.settings.footer-message -%}
  {%- assign paymentOptions = section.settings.footer-payment-options -%}
  {%- assign mailingList = section.settings.footer-mailing-list -%}
  {%- assign omnisendMailingList = section.settings.footer-mailing-list-omnisend -%}
  {%- assign socialsHeading = section.settings.footer-socials-title -%}
  {%- assign newsletterHeading = section.settings.footer-newsletter-title -%}
  {%- assign footerMenu = linklists[section.settings.footer-secondary-menu] -%}
  {%- assign alternateFooter = section.settings.footer-alternate -%}
  {%- assign membershipLogo = section.settings.image -%}
  {%- assign membershipLink = section.settings.member-link -%}

  {% include 'footer-one' %}

</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "footer-message-title",
      "label": "Footer message heading"
    },
    {
      "type": "richtext",
      "id": "footer-message",
      "label": "Footer message"
    },
    {
      "type": "text",
      "id": "footer-socials-title",
      "label": "Social links heading"
    },
    {
      "type": "checkbox",
      "id": "footer-mailing-list",
      "label": "Show newsletter form",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "footer-mailing-list-omnisend",
      "label": "Use Omnisend Signup Box",
      "default": false
    },
    {
      "type": "text",
      "id": "footer-newsletter-title",
      "label": "Newsletter form heading"
    },
    {
      "type": "checkbox",
      "id": "footer-payment-options",
      "label": "Show payment icons"
    },
    {
      "type": "link_list",
      "id": "footer-secondary-menu",
      "label": "Footer menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Membership logo"
    },
    {
      "type": "url",
      "id": "member-link",
      "label": "Membership link"
    }
  ]
}

{% endschema %}